.search {
    background: white;
    height: 4rem;
    & form {
        height: 100%;
        display: flex;
        padding: 0 10px;
    }
    & input {
        outline: none;
        border: none;
        height: 100%;
    }
    & button {
        background: transparent;
        border: none;
        position: relative;
        padding: 0 5px;
        &:hover {
            cursor: pointer;
        }
        & svg {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
        &:focus {
            outline: none;
        }
    }
    &--responsive {
        & form input {
            width: 93%;
        }
    }
}
